@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
#subtfont
{
  font-family: Homizio Medium, 'Álvaro Thomáz';
}
#tfont
{
  font-family: Khula Regular, 'Erin McLaughlin';
}
#top1
{
  font-family: Trebuchet MS,'sans-serif';
  color: #D65C67;
}
#top2
{
  font-family: Trebuchet MS,'sans-serif';
  color: #59378B;
}
#top3
{
  font-family: Trebuchet MS,'sans-serif';
  color: #3D7778;
}
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar-Content-2
{
  justify-content: center;
}
#navbar-Content-2 li
{
  padding: 0 20px;
}
#navbar-Content-2 ul li a
{
  color: #000 !important;
  background-color: #4475A1 !important;
}

#navbar-Content-2 ul li a:hover{
  color: #B5721C !important;
}

#drp-menu ul li a{
  color: #000 !important;
}
#bottom{
  position: static;
}

#ovcon
{
  /*position: relative;*/
}
#main{
  position: relative;
}
#social
{
  padding-top: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
}
#fltopac
{
  color: white;
  background-color: #D65C67;
  opacity: 0.6;
  position: absolute;
  z-index: 3;
}
#imgov
{
  z-index: 2;
  margin: 20px;
}

#shdow
{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cnt{
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #5DADEA;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
